[submodule "asyNc-crawler"]
	path = asyNc-crawler
	url = git@github.com:THUasyNcWeb/asyNc-crawler.git
[submodule "asyNc-db"]
	path = asyNc-db
	url = git@github.com:THUasyNcWeb/asyNc-db.git
[submodule "asyNc-frontend"]
	path = asyNc-frontend
	url = git@github.com:THUasyNcWeb/asyNc-frontend.git
[submodule "asyNc-backend"]
	path = asyNc-backend
	url = git@github.com:THUasyNcWeb/asyNc-backend.git
[submodule "asyNc-search"]
	path = asyNc-search
	url = git@github.com:THUasyNcWeb/asyNc-search.git
